@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  overflow: hidden;
  /* background-color: rgba(255, 255, 255, 0.542); */
  background-color: #FFF4EF;
  color: #344955;
}

/* hide arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.poster_img.female {
  display: none;
}

.main_cnt {
  height: 100vh;
  overflow: auto;
}

.sr-only {
  display: none;
}

#loader_container {
  display: none;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.597);
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left_cols {
  padding: 10px;
}

.left_cols>div {
  border: 1px solid rgb(228, 228, 228);
  box-shadow: rgba(209, 194, 194, 0.1) 0px 2px 8px 0px;
  border-radius: 5px;
  height: 100%;
  padding: 15px;
}

.detail_heading {
  font-size: 25px;
  font-weight: 500;
}

.main_body {
  padding: 10px;
}

.header {
  width: 100%;
  border: 1px solid rgb(228, 228, 228);
  box-shadow: rgba(209, 194, 194, 0.1) 0px 2px 8px 0px;
  border-radius: 5px;
  padding: 10px;
  /* font-size: 30px; */
  margin-bottom: 10px;
}

.header h2 {
  font-family: "Noto Serif Gujarati", serif;
  font-weight: 700 !important;
  font-size: 40px;
}

.poster_cnt {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 1px solid rgb(228, 228, 228);
  box-shadow: rgba(209, 194, 194, 0.1) 0px 2px 8px 0px;
}

.poster_prev {
  position: relative;
}

.poster_img {
  width: 100%;
  max-width: 800px;
}

.image_prev_modal {
  /* border: 1px solid red; */
}

#upload-demo {
  width: 400px;
  height: 400px;
  /* border: 1px solid red; */
  margin: auto;
}

.btn_cnt {
  gap: 15px;
  padding-top: 70px;
  display: flex;
  justify-content: center;
}

/* profile_img */
#profile_img {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.647);
  width: 31.2%;
  height: 29%;
  right: 7.9%;
  top: 39.75%;
  z-index: 10000;
  border-radius: 6.5%;
  display: none;
  /* opacity: 0.5; */
}

#user_name_prev {
  position: absolute;
  font-family: poppins;
  width: 33.6%;
  height: 4.9%;
  right: 6.7%;
  top: 71.4%;
  z-index: 1000;
  /* font-size: 18px;  */
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-weight: 600;
  color: #6F4E9B;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Poppins", system-ui !important;
  text-align: center;
  /* background-color: rgba(255, 0, 0, 0.647); */
}

.poster_img {
  position: relative;
  z-index: 10;
}

.download_img {
  width: 100%;
}

@media (min-width: 576px) {
  .left_cols>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .download_img {
    margin-bottom: 10px;
  }

  .main_body {
    height: 100vh;
    overflow: auto;
  }
}

footer {
  background-color: #F26623;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px;
  border-radius: 15px;
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

footer a {
  color: white;
}

footer a:hover {
  color: aliceblue;
}

.btn-primary {
  background-color: #F26623;
  border-color: #F26623;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #f64e00;
  border-color: #f64e00;
}

/* .btn-primary:focus{
  background-color: #f64e00;
  border-color: #f64e00;
} */

.logo {
  width: 100%;
  margin-bottom: 10%;
}

.logo img {
  width: 95%;
}

.eng-font {
  font-family: "Arizonia", cursive;
  color: #E5BC44;
  /* font-size: ; */
  -webkit-text-stroke: 0.1px black;
}